/** AkzidenzGroteskPro **/
@font-face {
  font-family: 'AkzidenzGroteskPro';
  src: url('../fonts/AkzidenzGroteskPro-Regular/AkzidenzGroteskPro-Regular.eot');
  src: local('☺'), url('../fonts/AkzidenzGroteskPro-Regular/AkzidenzGroteskPro-Regular.woff') format('woff'), url('../fonts/AkzidenzGroteskPro-Regular/AkzidenzGroteskPro-Regular.ttf') format('truetype'), url('../fonts/AkzidenzGroteskPro-Regular/AkzidenzGroteskPro-Regular.svg') format('svg');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'AkzidenzGroteskPro';
  src: url('../fonts/AkzidenzGroteskPro-Md/AkzidenzGroteskPro-Md.eot');
  src: local('☺'), url('../fonts/AkzidenzGroteskPro-Md/AkzidenzGroteskPro-Md.woff') format('woff'), url('../fonts/AkzidenzGroteskPro-Md/AkzidenzGroteskPro-Md.ttf') format('truetype'), url('../fonts/AkzidenzGroteskPro-Md/AkzidenzGroteskPro-Md.svg') format('svg');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'AkzidenzGroteskPro';
  src: url('../fonts/AkzidenzGroteskPro-Bold/AkzidenzGroteskPro-Bold.eot');
  src: local('☺'), url('../fonts/AkzidenzGroteskPro-Bold/AkzidenzGroteskPro-Bold.woff') format('woff'), url('../fonts/AkzidenzGroteskPro-Bold/AkzidenzGroteskPro-Bold.ttf') format('truetype'), url('../fonts/AkzidenzGroteskPro-Bold/AkzidenzGroteskPro-Bold.svg') format('svg');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'icomoon';
  src: url('../fonts/icomoon/icomoon.ttf?tsbd2r') format('truetype'), url('../fonts/icomoon/icomoon.woff?tsbd2r') format('woff'), url('../fonts/icomoon/icomoon.svg?tsbd2r#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}
[class^="icon-"],
[class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.icon-around:before {
  content: "\e900";
  color: #ea6f48;
}
.icon-arrow-left:before {
  content: "\e901";
  color: #fff;
}
.icon-arrow-right:before {
  content: "\e902";
  color: #fff;
}
.icon-enter:before {
  content: "\e903";
}
.icon-global:before {
  content: "\e904";
  color: #ea6f48;
}
.icon-phone:before {
  content: "\e905";
}
.icon-phone-stroke:before {
  content: "\e906";
  color: #ea6f48;
}
.icon-placemark:before {
  content: "\e907";
  color: #ea6f48;
}
.icon-recomend:before {
  content: "\e908";
  color: #ea6f48;
}
.icon-romb:before {
  content: "\e909";
  color: #ea6f48;
}
.icon-search:before {
  content: "\e90a";
}
.icon-truck:before {
  content: "\e90b";
  color: #ea6f48;
}
.icon-vk:before {
  content: "\e90c";
  color: #474747;
}
.icon-vk-fill:before {
  content: "\e90d";
  color: #ea6f48;
}
.icon-youtube:before {
  content: "\e90e";
  color: #474747;
}
.icon-menu:before {
  content: "\e90f";
}
.icon-ae_logo:before {
  content: "\e910";
  color: #c2c3c4;
}
body,
table {
  font-family: "AkzidenzGroteskPro";
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
}
* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
html.uk-touch body *.uk-invisible {
  display: block !important;
  opacity: 1 !important;
  -webkit-animation: none !important;
     -moz-animation: none !important;
          animation: none !important;
  visibility: visible !important;
}
@media (min-width: 0) and (max-width: 767px) {
  html.uk-touch body [class*=uk-animation-] {
    -webkit-animation: none;
       -moz-animation: none;
            animation: none;
  }
}
@media (min-width: 768px) and (max-width: 959px) {
  html.uk-touch body [class*=uk-animation-] {
    -webkit-animation: none;
       -moz-animation: none;
            animation: none;
  }
}
a {
  color: #000000;
  text-decoration: none;
  -webkit-transition: all .15s linear;
  -o-transition: all .15s linear;
  -moz-transition: all .15s linear;
  transition: all .15s linear;
}
a:hover {
  color: #ea6f48;
  text-decoration: none;
}
svg {
  -webkit-transition: fill .15s linear;
  -o-transition: fill .15s linear;
  -moz-transition: fill .15s linear;
  transition: fill .15s linear;
}
.uk-container {
  margin: 0 auto;
  max-width: 1380px;
}
@media (min-width: 960px) {
  .uk-container {
    padding: 0 15px;
  }
}
/* ELEMENTS STYLE */
h1,
h2,
h3,
h4,
h5 {
  margin-bottom: 30px;
  color: #000000;
  font-family: "AkzidenzGroteskPro";
  font-weight: 500;
}
h1,
.title-h1 {
  margin-bottom: 40px;
  font-size: 40px;
  line-height: 50px;
}
h2,
.title-h2 {
  margin-bottom: 30px;
  font-size: 30px;
  line-height: 36px;
}
h3,
.title-h3 {
  margin-bottom: 30px;
  font-size: 26px;
  line-height: 32px;
}
h4,
.title-h4 {
  margin-bottom: 30px;
  font-size: 22px;
  line-height: 28px;
}
h5,
.title-h5 {
  margin-bottom: 30px;
  font-size: 16px;
  line-height: 22px;
}
p {
  color: #474747;
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
  letter-spacing: .13px;
}
a.btn,
button.btn {
  display: inline-block;
  vertical-align: top;
  min-width: 200px;
  height: 55px;
  line-height: 51px;
  color: #ffffff;
  font-size: 15px;
  font-family: "AkzidenzGroteskPro";
  font-weight: 400;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 1px;
  border: 2px solid transparent;
  background: #ea6f48;
  outline: none;
  cursor: pointer;
  -webkit-transition: border-color 0.15s, background-color 0.15s linear;
  -o-transition: border-color 0.15s, background-color 0.15s linear;
  -moz-transition: border-color 0.15s, background-color 0.15s linear;
  transition: border-color 0.15s, background-color 0.15s linear;
}
a.btn:hover,
button.btn:hover {
  text-decoration: none;
  border-color: #ea6f48;
  background-color: transparent;
}
.uk-pagination > li > a,
.uk-pagination > li > span {
  padding: 0;
  width: 61px;
  height: 61px;
  color: #474747;
  font-size: 21px;
  line-height: 61px;
  letter-spacing: .15px;
  background-color: transparent;
}
.uk-pagination > .uk-active > span {
  background-color: #f6f6f6;
  color: #474747;
  opacity: .5;
}
.uk-pagination > li:nth-child(n+2) {
  margin-left: 10px;
}
.breadcrumbs-wrapper {
  margin-bottom: 50px;
  background-color: #f6f6f6;
}
.breadcrumbs {
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 0;
}
.breadcrumbs li {
  margin-right: 10px;
  height: 60px;
  line-height: 60px;
  display: inline-block;
  font-size: 16px;
  color: #848484;
}
.breadcrumbs a {
  position: relative;
  padding-right: 15px;
  color: #848484;
  letter-spacing: .1px;
}
.breadcrumbs a:after {
  content: '/';
  position: absolute;
  right: 0;
}
.breadcrumbs a:hover {
  color: #ea6f48;
  text-decoration: none;
}
.breadcrumbs a:hover:after {
  color: #848484;
}
.select2-container {
  background-color: #f6f6f6;
  color: #474747;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: .11px;
  outline: none;
  border: none;
}
.select2-container .select2-selection {
  height: 54px;
  line-height: 54px;
  outline: none;
}
.select2-container .select2-selection__arrow b {
  border-color: #474747 transparent transparent transparent;
  border-style: solid;
  border-width: 5px 4px 0 4px;
  height: 0;
  left: auto;
  right: 20px;
  margin-left: -4px;
  margin-top: -2px;
  position: absolute;
  top: 50%;
  width: 0;
}
.select2-container--open .select2-selection__arrow b {
  border-color: transparent transparent #474747 transparent;
  border-width: 0 4px 5px 4px;
}
.select2-container .select2-selection__rendered {
  padding: 0 20px !important;
}
.select2-container--sort__status {
  width: 390px !important;
}
.select2-container--sort__count {
  width: 115px !important;
}
.select2-container--default .select2-selection--single {
  border: none;
}
.select2-container--default .select2-selection__rendered {
  background-color: #f6f6f6;
  height: 54px;
  line-height: 54px !important;
}
.select2-container--default .select2-selection__arrow {
  height: 52px !important;
  line-height: 52px !important;
}
.select2-container--default .select2-results__option--highlighted[aria-selected],
.select2-container--default .select2-results__option[aria-selected=true] {
  background-color: #ffffff;
  color: #000000;
}
.select2-container .select2-results__option {
  -webkit-transition: background-color 0.3s linear;
  -o-transition: background-color 0.3s linear;
  -moz-transition: background-color 0.3s linear;
  transition: background-color 0.3s linear;
}
.select2-container .select2-results__option:hover {
  background-color: #f6f6f6;
}
.select2-dropdown {
  border-color: #ffffff;
}
/* ELEMENTS STYLE END */
/* PAGE HEADER */
.header__top {
  padding: 50px 0;
  border-bottom: 1px solid #e8e8e8;
}
.header__top-contacts {
  position: relative;
}
.header__top-contacts a {
  margin-right: 6%;
  display: inline-block;
  vertical-align: top;
}
.header__bottom {
  padding-top: 50px;
}
.logo {
  margin-top: 35px;
  display: inline-block;
}
.logo__text {
  margin-top: 25px;
  display: block;
  max-width: 50px;
  color: #000000;
  font-family: 'Comfortaa', cursive;
  font-size: 13px;
  -webkit-transition: color .15s linear;
  -o-transition: color .15s linear;
  -moz-transition: color .15s linear;
  transition: color .15s linear;
}
.logo:hover {
  text-decoration: none;
}
.logo:hover .logo__text {
  color: #ea6f48;
}
.link-question {
  color: #e96f47;
}
.link-tel {
  position: relative;
  padding-left: 15px;
  font-weight: 700;
  font-family: "AkzidenzGroteskPro" !important;
}
.link-tel:before {
  position: absolute;
  top: 4.5px;
  left: 0;
  font-family: 'icomoon' !important;
  font-size: 10px;
}
.link-tel:hover {
  text-decoration: none;
}
.link-contacts:hover {
  text-decoration: none;
}
.search {
  position: relative;
  padding-left: 25px;
  line-height: 18px;
  font-family: "AkzidenzGroteskPro" !important;
}
.search:before {
  position: absolute;
  top: 0;
  left: 0;
  color: #000000;
  font-family: 'icomoon' !important;
  font-size: 12px;
  line-height: 16px;
  font-weight: 700;
  -webkit-transition: color .15s linear;
  -o-transition: color .15s linear;
  -moz-transition: color .15s linear;
  transition: color .15s linear;
}
.search:hover {
  color: #000000;
  text-decoration: none;
}
.search:hover:before {
  color: #ea6f48;
}
.basket {
  position: relative;
  margin-left: 22%;
  padding-left: 40px;
}
.basket__counter {
  position: absolute;
  top: -3px;
  left: 0;
  width: 24px;
  height: 24px;
  line-height: 24px;
  font-size: 14px;
  text-align: center;
  color: #ffffff;
  background-color: #ea6f48;
  -webkit-border-radius: 100%;
          border-radius: 100%;
}
.auth {
  position: relative;
  padding-left: 25px;
  font-family: "AkzidenzGroteskPro" !important;
}
.auth:before {
  position: absolute;
  top: 0;
  left: 0;
  color: #000000;
  font-family: 'icomoon' !important;
  font-size: 14px;
  font-weight: 700;
  -webkit-transition: color .15s linear;
  -o-transition: color .15s linear;
  -moz-transition: color .15s linear;
  transition: color .15s linear;
}
.auth:hover {
  color: #000000;
}
.auth:hover:before {
  color: #ea6f48;
}
/* MAIN NAV */
.uk-navbar {
  background-color: #ffffff;
}
.uk-navbar-nav {
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
     -moz-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.uk-navbar-nav .uk-dropdown-list {
  padding: 65px 0;
  background-color: #f6f6f6;
}
.navbar__title {
  margin-bottom: 45px;
  padding-bottom: 30px;
  font-size: 18px;
  font-weight: 500;
  letter-spacing: .13px;
  position: relative;
}
.navbar__title:after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  display: block;
  width: 58px;
  height: 2px;
  background-color: #ea6f48;
}
.sublist {
  margin: 0;
  padding: 0;
  list-style: none;
}
.sublist__item {
  margin-bottom: 20px;
}
.sublist__item a {
  font-size: 16px;
  color: #474747;
  letter-spacing: .11px;
}
.sublist__item a:hover {
  color: #ea6f48;
}
.uk-navbar-nav > li > a {
  padding: 0;
  padding-bottom: 40px;
  height: auto;
  color: #000000;
  font-size: 15px;
  font-family: "AkzidenzGroteskPro";
  line-height: 1;
  letter-spacing: 1px;
  text-transform: uppercase;
  border-bottom: 3px solid transparent;
  -webkit-transition: color 0.15s, border-color 0.15s linear;
  -o-transition: color 0.15s, border-color 0.15s linear;
  -moz-transition: color 0.15s, border-color 0.15s linear;
  transition: color 0.15s, border-color 0.15s linear;
}
.uk-navbar-nav > li > a.uk-active {
  font-weight: 700;
}
.uk-navbar-nav > li > a:hover {
  color: #ea6f48;
  border-color: #ea6f48;
  background: transparent;
}
.uk-dropdown-bottom {
  margin-top: 0;
}
.uk-navbar-nav > li > a[href='#'] {
  cursor: pointer;
}
.uk-navbar-nav > li.uk-open > a,
.uk-navbar-nav > li:hover > a,
.uk-navbar-nav > li > a:focus {
  background-color: transparent;
}
/* PAGE CONTENT */
.content {
  margin-bottom: 30px;
  position: relative;
  padding-bottom: 75px;
}
.content:after {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 0 auto;
  max-width: 1410px;
  display: block;
  width: 100%;
  height: 1px;
  background: #e8e8e8;
}
/* MAIN LIST PRODUCTS */
.main-list-products {
  margin-top: 45px;
}
.products__item {
  position: relative;
  height: 250px;
  background-repeat: no-repeat;
  background-position: center;
  -webkit-background-size: cover;
          background-size: cover;
}
.products__item:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: block;
  background: transparent;
  z-index: 50;
  -webkit-transition: background .15s linear;
  -o-transition: background .15s linear;
  -moz-transition: background .15s linear;
  transition: background .15s linear;
}
.products__item.big {
  margin-bottom: 35px;
  height: 385px;
}
.products__item.big .products__title {
  left: 14%;
  bottom: 95px;
  max-width: 40%;
  font-size: 36px;
  line-height: 42px;
}
.products__item a {
  position: relative;
  color: #ffffff;
  display: block;
  height: 100%;
  z-index: 62;
}
.products__item:hover:after {
  background: rgba(0, 0, 0, 0.5);
}
.products__title {
  position: absolute;
  left: 12%;
  bottom: 40px;
  font-size: 30px;
  line-height: 36px;
  font-weight: 500;
}
/* ADDITIONAL SERVICES */
.additional-services {
  margin: 75px 0 70px;
}
.additional-services__item {
  padding-right: 14%;
}
.additional-services__item::after {
  content: "";
  display: table;
  clear: both;
}
.additional-services__icon {
  margin-right: 9.5%;
  float: left;
}
.additional-services__icon i {
  font-size: 68px;
}
.additional-services__icon i.icon-truck {
  font-size: 50px;
}
.additional-services__text {
  color: #000000;
  font-size: 18px;
  line-height: 22px;
  font-weight: 500;
  letter-spacing: .13px;
  overflow: hidden;
}
/* CARD */
.card {
  position: relative;
}
.card a:hover .card__name {
  color: #ea6f48;
}
.card__img {
  margin-bottom: 25px;
  padding: 45px 55px;
  min-height: 400px;
  background-color: #f6f6f6;
}
.card__name {
  margin-bottom: 10px;
  color: #474747;
  font-size: 21px;
  letter-spacing: .15px;
  -webkit-transition: color .15s linear;
  -o-transition: color .15s linear;
  -moz-transition: color .15s linear;
  transition: color .15s linear;
}
.card__price {
  color: #000000;
  font-size: 18px;
  font-weight: 500;
  letter-spacing: .13px;
}
.card__status {
  position: absolute;
  top: 10px;
  left: 10px;
  font-size: 14px;
  z-index: 50;
}
.card__status > div {
  padding: 2px 5px;
  color: #ffffff;
  text-transform: uppercase;
  letter-spacing: .8px;
  background-color: #ea6f48;
}
/* OPTIONS BLOCK */
.options-block {
  margin-bottom: 50px;
  padding: 50px 0;
  position: relative;
  background: url('../img/options-block.jpg') no-repeat;
  -webkit-background-size: cover;
          background-size: cover;
  background-position: center;
}
.options-block:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: block;
  background: transparent;
  z-index: 50;
  -webkit-transition: background .15s linear;
  -o-transition: background .15s linear;
  -moz-transition: background .15s linear;
  transition: background .15s linear;
}
.options-block:hover:after {
  background: rgba(0, 0, 0, 0.5);
}
.options-item {
  position: relative;
  padding: 15px;
  background-color: #ffffff;
  z-index: 200;
}
.options-item__inner {
  padding: 50px 16%;
  border: 2px solid #e8e8e8;
}
.options-item__title {
  margin-bottom: 70px;
  padding-bottom: 50px;
  max-width: 72%;
  color: #000000;
  font-size: 30px;
  line-height: 36px;
  font-weight: 500;
  position: relative;
}
.options-item__title:after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  display: block;
  width: 58px;
  height: 2px;
  background-color: #ea6f48;
}
.options-item ul {
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 0;
}
.options-item ul li {
  margin-bottom: 20px;
  display: inline-block;
  vertical-align: top;
  width: 50%;
  font-size: 16px;
}
.options-item ul li:nth-child(even) {
  padding-left: 20%;
}
.options-item ul li a {
  color: #474747;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: .13px;
}
.options-item ul li a:hover {
  color: #ea6f48;
}
/* ABOUT COMPANY */
.about-company {
  padding: 0 0 50px;
}
.progress {
  padding-top: 45px;
}
.progress__list {
  margin: 0;
  padding: 0;
  list-style: none;
}
.progress__item {
  margin-bottom: 60px;
  padding-right: 20%;
}
.progress__item::after {
  content: "";
  display: table;
  clear: both;
}
.progress__img {
  margin-right: 12%;
  min-width: 72px;
  float: left;
}
.progress__img i {
  font-size: 72px;
  line-height: 78px;
}
.progress__text {
  color: #474747;
  font-size: 21px;
  line-height: 26px;
  overflow: hidden;
  letter-spacing: .15px;
}
.aside-block {
  margin-bottom: 40px;
}
.aside-block__inner {
  padding: 70px 15px;
  outline-width: 1px;
  outline-color: rgba(255, 255, 255, 0.5);
  outline-offset: -15px;
  outline-style: solid;
  position: relative;
  -webkit-background-size: cover;
          background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
     -moz-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
}
.aside-block__title {
  position: relative;
  margin-left: 7.5%;
  padding-left: 20%;
  color: #ffffff;
  font-size: 40px;
  line-height: 46px;
  font-weight: 500;
}
.aside-block__title:before {
  content: '';
  position: absolute;
  top: 50%;
  left: 0;
  display: block;
  width: 58px;
  height: 2px;
  background-color: #ea6f48;
}
.aside-block__text {
  margin-top: 20px;
  margin-left: 7.5%;
  padding: 0 15% 0 20%;
  width: 100%;
  color: #ffffff;
  font-size: 21px;
  line-height: 28px;
  letter-spacing: .15px;
}
.aside-block__btn {
  margin-right: 7.5%;
}
.aside-block--promo-text .uk-container {
  padding: 0;
}
.aside-block--promo-text .aside-block__inner {
  -webkit-box-align: canter;
  -webkit-align-items: canter;
     -moz-box-align: canter;
      -ms-flex-align: canter;
          align-items: canter;
  padding: 50px 15px;
  height: 220px;
}
/* CATALOG */
.catalog__list-wrapper {
  margin-bottom: 40px;
  padding-bottom: 90px;
  border-bottom: 1px solid #e8e8e8;
}
.catalog__list {
  margin-bottom: 30px;
  font-size: 0;
}
.catalog__list .card {
  margin-right: 2.6%;
  margin-bottom: 50px;
  width: 31.4%;
  display: inline-block;
  vertical-align: top;
}
.catalog__list .card:nth-child(3n) {
  margin-right: 0;
}
.catalog__list .card:nth-last-child(-n+3) {
  margin-bottom: 0;
}
.catalog__list:last-child {
  margin-bottom: 0;
}
.catalog__sort {
  margin-bottom: 25px;
}
.catalog__sort::after {
  content: "";
  display: table;
  clear: both;
}
.sort__status {
  float: left;
}
.sort__count {
  float: right;
}
.sort__count-text {
  margin-right: 40px;
  color: #474747;
  line-height: 52px;
  float: left;
  letter-spacing: .11px;
}
.seo-block {
  margin-top: 80px;
}
/* CATALOG END */
/* PAGE FOOTER */
.footer {
  padding-top: 30px;
}
.footer__title {
  margin-bottom: 45px;
  padding-bottom: 30px;
  font-size: 18px;
  font-weight: 500;
  letter-spacing: .13px;
  position: relative;
}
.footer__title:after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  display: block;
  width: 58px;
  height: 2px;
  background-color: #ea6f48;
}
.footer__list {
  margin: 0;
  padding: 0;
  list-style: none;
}
.footer__list-item {
  margin-bottom: 20px;
}
.footer__list-item a {
  color: #474747;
  letter-spacing: .11px;
}
.footer__list-item a:hover {
  color: #ea6f48;
}
.footer .link-tel,
.footer .link-contacts {
  margin-bottom: 20px;
  display: block;
}
.footer .logo {
  margin-top: 0;
}
.soc-list {
  margin-top: 52px;
}
.soc-list__link {
  display: inline-block;
  vertical-align: middle;
  color: #474747;
}
.soc-list__link:before {
  -webkit-transition: color .15s linear;
  -o-transition: color .15s linear;
  -moz-transition: color .15s linear;
  transition: color .15s linear;
}
.soc-list__link:hover:before {
  color: #ea6f48;
}
.soc-list a.icon-vk {
  margin-right: 30px;
  font-size: 12px;
}
.soc-list a.icon-youtube {
  font-size: 30px;
}
.dev {
  position: relative;
  margin-top: 90px;
  padding-bottom: 50px;
  display: block;
  color: #474747;
  font-family: "AkzidenzGroteskPro" !important;
  line-height: 22px;
  letter-spacing: .11px;
}
.dev:before {
  position: absolute;
  left: 0;
  bottom: 0;
  font-size: 20px;
  color: #ea6f48;
  font-family: 'icomoon' !important;
}
/* SLIDERS */
.main-slider {
  margin: 0 auto;
  max-width: 1360px;
  background: #ffffff;
}
.main-slider.preload {
  height: 636px;
}
.main-slider .slick-list,
.main-slider .slick-dots,
.main-slider .btn-slide {
  opacity: 1;
  -webkit-transition: opacity .3s ease;
  -o-transition: opacity .3s ease;
  -moz-transition: opacity .3s ease;
  transition: opacity .3s ease;
}
.main-slider .slide__inner {
  position: relative;
  margin-left: auto;
  max-width: 1235px;
  height: 636px;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
          background-size: cover;
  background-position: center;
}
.main-slider .slide__desc {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 60px 3.5% 30px 0;
  background-color: #ffffff;
  width: 35%;
}
.main-slider .slide__title {
  margin-bottom: 40px;
  color: #000000;
  font-size: 40px;
  line-height: 50px;
  font-weight: 500;
}
.main-slider .slide__text {
  margin-bottom: 40px;
  color: #474747;
  font-size: 21px;
  line-height: 26px;
  letter-spacing: .15px;
}
.main-slider .slide__link {
  color: #ea6f48;
}
.main-slider .slick-prev:before,
.main-slider .slick-next:before {
  content: '';
  font-family: none;
  font-size: 0;
}
.main-slider .slick-prev,
.main-slider .slick-next {
  width: auto;
  height: auto;
  font-size: 20px;
  z-index: 120;
  bottom: 23px;
}
.main-slider .slick-prev i:before,
.main-slider .slick-next i:before {
  font-size: 14px;
  -webkit-transition: color .15s linear;
  -o-transition: color .15s linear;
  -moz-transition: color .15s linear;
  transition: color .15s linear;
}
.main-slider .slick-prev i:hover:before,
.main-slider .slick-next i:hover:before {
  color: #ea6f48;
}
.main-slider .slick-prev {
  top: auto;
  left: auto;
  right: 8%;
}
.main-slider .slick-next {
  top: auto;
  right: 3.5%;
}
.main-slider .slick-dots {
  bottom: 31.7%;
  left: 0;
  display: inline-block;
  width: auto;
}
.main-slider .slick-dots li {
  margin-bottom: 25px;
  display: block;
  height: 2px;
}
.main-slider .slick-dots li.slick-active button:before {
  width: 58px;
  background-color: #ea6f48;
}
.main-slider .slick-dots button {
  width: auto;
  height: auto;
  padding: 0;
}
.main-slider .slick-dots button:before {
  content: '';
  display: block;
  width: 20px;
  height: 2px;
  font-family: none;
  opacity: 1;
  background-color: #000000;
  -webkit-transition: width 0.3s, background-color 0.3s ease;
  -o-transition: width 0.3s, background-color 0.3s ease;
  -moz-transition: width 0.3s, background-color 0.3s ease;
  transition: width 0.3s, background-color 0.3s ease;
}
.slick-dotted.slick-slider {
  margin-bottom: 0;
}
.products-slider {
  margin-bottom: 90px;
}
.products-slider__title {
  margin-bottom: 50px;
  font-size: 36px;
  line-height: 50px;
  font-weight: 500;
}
.sliders-list .slide {
  margin-right: 30px;
}
.sliders-list .slick-prev:before,
.sliders-list .slick-next:before {
  content: '';
  font-family: none;
  font-size: 0;
}
.sliders-list .slick-prev,
.sliders-list .slick-next {
  width: auto;
  height: auto;
  font-size: 20px;
  z-index: 150;
  bottom: auto;
}
.sliders-list .slick-prev i:before,
.sliders-list .slick-next i:before {
  color: #474747;
  font-size: 14px;
  -webkit-transition: color .15s linear;
  -o-transition: color .15s linear;
  -moz-transition: color .15s linear;
  transition: color .15s linear;
}
.sliders-list .slick-prev i:hover:before,
.sliders-list .slick-next i:hover:before {
  color: #ea6f48;
}
.sliders-list .slick-prev {
  top: -75px;
  left: auto;
  right: 4.5%;
}
.sliders-list .slick-next {
  top: -75px;
  right: 0;
}
.map__wrapper {
  position: relative;
}
.map__wrapper .slide__map {
  position: absolute !important;
  top: 0;
  left: auto;
  right: 0;
  bottom: 0;
  z-index: 500;
  width: 100%;
  height: 542px;
  max-width: 775px;
}
.map__wrapper .slick-list {
  z-index: 501;
}
.map__wrapper:hover .slick-list {
  z-index: 499;
}
.map-slider .slide__inner {
  position: relative;
  margin-left: auto;
  max-width: 775px;
  height: 542px;
  background-position: center;
  -webkit-background-size: cover;
          background-size: cover;
}
.map-slider .slide__desc {
  position: absolute;
  top: 0;
  left: 0;
  padding: 40px 5% 40px 0;
  max-width: 430px;
  background-color: #ffffff;
  z-index: 410;
}
.map-slider .slide__title {
  margin-bottom: 40px;
  color: #000000;
  font-size: 30px;
  line-height: 36px;
  font-weight: 500;
}
.map-slider .slide__subtitle {
  margin-bottom: 25px;
  color: #000000;
  font-size: 18px;
  line-height: 24px;
  font-weight: 500;
  letter-spacing: .13px;
}
.map-slider .slide__text {
  margin-bottom: 20px;
  color: #474747;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: .13px;
}
.map-slider .slide__link {
  color: #ea6f48;
  letter-spacing: .11px;
}
.map-slider .slide__map {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 400;
}
.map-slider .slick-dots {
  top: 57px;
  left: 0;
  display: inline-block;
  width: auto;
  z-index: 900;
}
.map-slider .slick-dots li {
  margin-bottom: 25px;
  display: block;
  height: 2px;
}
.map-slider .slick-dots li.slick-active button:before {
  width: 58px;
  background-color: #ea6f48;
}
.map-slider .slick-dots button {
  width: auto;
  height: auto;
  padding: 0;
}
.map-slider .slick-dots button:before {
  content: '';
  display: block;
  width: 20px;
  height: 2px;
  font-family: none;
  opacity: 1;
  background-color: #000000;
  -webkit-transition: width 0.3s, background-color 0.3s ease;
  -o-transition: width 0.3s, background-color 0.3s ease;
  -moz-transition: width 0.3s, background-color 0.3s ease;
  transition: width 0.3s, background-color 0.3s ease;
}
.map-slider .slick-prev:before,
.map-slider .slick-next:before {
  content: '';
  font-family: none;
  font-size: 0;
}
.map-slider .slick-prev,
.map-slider .slick-next {
  width: auto;
  height: auto;
  font-size: 20px;
  z-index: 720;
  bottom: 23px;
}
.map-slider .slick-prev i:before,
.map-slider .slick-next i:before {
  color: #474747;
  font-size: 14px;
  -webkit-transition: color .15s linear;
  -o-transition: color .15s linear;
  -moz-transition: color .15s linear;
  transition: color .15s linear;
}
.map-slider .slick-prev i:hover:before,
.map-slider .slick-next i:hover:before {
  color: #ea6f48;
}
.map-slider .slick-prev {
  top: auto;
  left: auto;
  right: 12%;
}
.map-slider .slick-next {
  top: auto;
  right: 3.5%;
}
.preload {
  position: relative;
  overflow: hidden;
}
.preload:after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: #ffffff url('../img/ajax-loader.gif') center no-repeat;
}
.preload * {
  opacity: 0;
}
/* MODALS WINDOW */
/* FORMS */
.search-form {
  position: absolute;
  top: -5px;
  left: 0;
  width: 100%;
  -webkit-transition: opacity .7s ease;
  -o-transition: opacity .7s ease;
  -moz-transition: opacity .7s ease;
  transition: opacity .7s ease;
  display: none;
}
.search-form input[type="text"] {
  padding: 0 60px 0 0;
  width: 100%;
  color: #474747;
  font-size: 16px;
  line-height: 21px;
  letter-spacing: .11px;
  border: none;
  outline: none;
}
.search-form button[type="submit"] {
  position: absolute;
  top: 2px;
  right: 0;
  padding: 0;
  background: transparent;
  border: none;
  color: #e96f47;
  font-size: 16px;
  line-height: 21px;
  letter-spacing: .11px;
  cursor: pointer;
}
::-webkit-input-placeholder {
  opacity: .5;
}
:-moz-placeholder {
  opacity: .5;
}
::-moz-placeholder {
  opacity: .5;
}
:-ms-input-placeholder {
  opacity: .5;
}
::-ms-input-placeholder {
  opacity: .5;
}
::placeholder {
  opacity: .5;
}
