/* FORMS */

.search-form {
	position: absolute;
	top: -5px;
	left: 0;
	width: 100%;
	transition: opacity .7s ease;
	display: none;
	input[type="text"] {
		padding: 0 60px 0 0;
		width: 100%;
		color: #474747;
		font-size: 16px;
		line-height: 21px;
		letter-spacing: .11px;
		border: none;
		outline: none;
	}
	
	button[type="submit"] {
		position: absolute;
		top: 2px; 
		right: 0;
		padding: 0;
		background: transparent;
		border: none;
		color: #e96f47;
		font-size: 16px;
		line-height: 21px;
		letter-spacing: .11px;
		cursor: pointer;
	}
}

::placeholder {
	opacity: .5;
}

.form-wrapper {
	background-color: #f6f6f6;
	@media @mob-w {
		margin-bottom: 35px;
		padding: 60px 7%;
	}
	@media @tablet-w {
		margin-bottom: 75px;
		padding: 115px 14% 100px;
	}
	@media @desk-w {
		padding: 115px 21% 100px;
	}
}

.default-form {
	fieldset {
		margin: 0;
		padding: 0;
		margin-bottom: 25px;
		border: none;
	}
	input {
		padding: 0 5%;
		width: 100%;
		height: 64px;
		color: #474747;
		font-size: 21px;
		line-height: 64px;
		letter-spacing: .15px;
		background-color: #ffffff;
		border: none;
		@media @mob-w {
			height: 50px;
			line-height: 50px;
		}
		@media @tablet-w {
			height: 64px;
			line-height: 64px;
		}
	}
	textarea {
		margin-bottom: 20px;
		padding: 15px 5%;
		width: 100%;
		font-size: 21px;
		min-height: 150px;
		resize: vertical;
		border: none;
	}
	label.error {
		margin-top: 7px;
		display: block;
		color: red;
	}
	.modal-btn {
		&:hover {
			background-color: #ffffff;
			color: @orange;
		}
	}
	.required-fileds {
		color: #474747;
		letter-spacing: .11px;
	}
	.form-politics {
		margin-top: 20px;
		color: #474747;
		opacity: .5;
		letter-spacing: .11px;
		a {
			text-decoration: underline;
		}
	}
}

.mobile-form {
	position: relative;
	margin-top: 20px;
	width: 100%;
	display: none;
	input[type="text"] {
		padding-right: 45px;
		padding-left: 5%;
		width: 100%;
		height: 40px;
		line-height: 38px;
		border: 1px solid red;
		@media @tablet-w {
			padding-left: 3%;
		}
	}
	.mobile-button {
		position: absolute;
		top: 0;
		right: 0;
		width: 40px;
		height: 40px;
		line-height: 40px;
		border: none;
		background: transparent;
		&:after {
			content: "\e90a";
			font-size: 20px;
			display: inherit;
			color: @orange;
			.icomoon();
		}
	}
}
