/* SLIDERS */

.main-slider {
	margin: 0 auto;
	max-width: 1360px;
	background: #ffffff;
	@media @mob-w {
		display: none;
	}
	@media @tablet-w {
		display: block;
	}
	&.preload {
		height: 636px;
	}
	.slick-list,
	.slick-dots,
	.btn-slide {
		opacity: 1;
		transition: opacity .3s ease;
	}
	.slide {
		&__inner {
			position: relative;
			margin-left: auto;
			height: 636px;
			background-repeat: no-repeat;
			background-size: cover;
			background-position: center;
			@media @tablet-w {
				max-width: 91%;
			}
		}
		&__desc {
			position: absolute;
			bottom: 0;
			left: 0;
			padding: 60px 3.5% 30px 0;
			background-color: #ffffff;
			width: 35%;

			@media @tablet-w {
				width: 50%;
				bottom: -1px;
				left: -1px;
				padding-left: 3.5%;
			}
			@media @desk-w {
				padding-left: 0;
			}
		}
		&__title {
			margin-bottom: 40px;
			color: #000000;
			font-weight: 500;
			@media @tablet-w {
				font-size: 28px;
				line-height: 34px;
			}
			@media @desk-w {
				font-size: 40px;
				line-height: 50px;
			}
		}
		&__text {
			margin-bottom: 40px;
			color: #474747;
			font-size: 21px;
			line-height: 26px;
			letter-spacing: .15px;
		}
		&__link {
			color: @orange;
		}
	}

	.slick-prev:before,
	.slick-next:before {
		content: '';
		font-family: none;
		font-size: 0;
	}
	.slick-prev,
	.slick-next {
		width: auto;
		height: auto;
		font-size: 20px;
		z-index: 120;
		bottom: 23px;
		i {
			&:before {
				font-size: 14px;
				transition: color .15s linear;
			}
			&:hover {
				&:before {
					color: @orange;
				}
			}
		}
	}

	.slick-prev {
		top: auto;
		left: auto;

		@media @tablet-w {
			right: 12%;
		}

		@media @desk-w {
			right: 8%;
		}
	}

	.slick-next {
		top: auto;
		right: 3.5%;
	}

	.slick-dots {
		bottom: 31.7%;
		left: 0;
		display: inline-block;
		width: auto;
		li {
			margin-bottom: 25px;
			display: block;
			height: 2px;
			&.slick-active {
				button {
					&:before {
						width: 58px;
						background-color: @orange;
					}
				}
			}
		}
		button {
			width: auto;
			height: auto;
			padding: 0;
			&:before {
				content: '';
				display: block;
				width: 20px;
				height: 2px;
				font-family: none;
				opacity: 1;
				background-color: #000000;
				transition: width .3s, background-color .3s ease;
			}
		}
	}

}

.slick-dotted.slick-slider {
	margin-bottom: 0;
}


.products-slider {
	margin-bottom: 90px;
	&__title {
		margin-bottom: 50px;
		font-size: 36px;
		line-height: 50px;
		font-weight: 500;
		max-width: 80%;
	}
}

.sliders-list {
	.slick-list {
		@media @tablet-w {
			margin: 0 -15px;
		}
	}
	.slide {
		margin: 0 15px;
		@media (max-width: 480px) {
			margin: 0;
		}
		@media @tablet-w {
			margin: 0 15px;
		}
	}
	.slick-prev:before,
	.slick-next:before {
		content: '';
		font-family: none;
		font-size: 0;
	}
	.slick-prev,
	.slick-next {
		width: auto;
		height: auto;
		font-size: 20px;
		z-index: 150;
		bottom: auto;
		i {
			&:before {
				color: #474747;
				font-size: 14px;
				transition: color .15s linear;
			}
			&:hover {
				&:before {
					color: @orange;
				}
			}
		}
	}
	.slick-prev {
		top: -75px;
		left: auto;
		@media @mob-w {
			right: 13.5%;
		}
		@media @tablet-w {
			right: 9.5%;
		}
		@media @desk-w {
			right: 4.5%;
		}
	}
	.slick-next {
		top: -75px;
		right: 0;
	}
}


.map-slider__wrapper {
	.slider__arrow {
		z-index: 950;
		i {
			&:before {
				color: #474747;
			}
		}
	}
}

.map__wrapper {
	position: relative;
	.slide__map {
		position: relative;
		margin-left: auto;
		width: 100%;
		max-width: 775px;
		overflow: hidden;
		@media @mob-w {
			height: 300px;
		}
		@media @desk-w {
			height: 542px;
		}
		.gm-bundled-control-on-bottom {
			bottom: 157px !important;
		}
	}
	.slick-list {
		z-index: 902	;
	}
}

.map-slider__wrapper {
	
	@media @mob-w {
		margin-bottom: 30px;
	}

	@media @desk-w {
		margin-bottom: 0;
	}
}

.map-slider	{
	z-index: 900;
	background-color: #ffffff;

	@media @mob-w {
		position: relative;
		width: 100%;
		height: auto;
		overflow: visible;
	}

	@media @desk-w {
		position: absolute;
		width: 544px;
		height: 308px;
		overflow: hidden;
	}

	.slide {
		&__inner {
			position: relative;
			margin-left: auto;
			max-width: 775px;
			background-size: cover;
			background-position: center;
			background-size: cover;

			@media @mob-w {
				height: auto;
			}
			
			@media @desk-w {
				height: 290px;
			}

		}
		&__desc {
			margin-left: auto;
			padding: 40px 5% 40px 0;
			background-color: #ffffff;
			z-index: 990;
			@media @mob-w {
				max-width: 100%;
			}

			@media @desk-w {
				max-width: 430px;
			}
		}
		&__title {
			margin-bottom: 40px;
			color: #000000;
			font-size: 30px;
			line-height: 36px;
			font-weight: 500;
		}
		&__subtitle {
			margin-bottom: 25px;
			color: #000000;
			font-size: 18px;
			line-height: 24px;
			font-weight: 500;
			letter-spacing: .13px;
		}
		&__text {
			margin-bottom: 35px;
			color: #474747;
			font-size: 18px;
			line-height: 24px;
			letter-spacing: .13px;
		}
		&__link {
			color: @orange;
			letter-spacing: .11px;
		}
		&__map {
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			z-index: 400;
		}
	}
	.slick-dots {
		top: 57px;
		left: 0;
		display: inline-block;
		width: auto;
		z-index: 930;

		@media @mob-w {
			top: auto;
			bottom: 10px;
			width: 100%;
		}
	
		@media @desk-w {
			top: 57px;
			bottom: auto;
			width: auto;
		}

		li {
			margin: 0;
			display: block;
			
			@media @mob-w {
				margin-right: 2%;
				margin-bottom: 0;
				display: inline-block;
				height: auto;
			}
			
			@media @desk-w {
				margin-right: 0;
				margin-bottom: 25px;
				display: block;
				height: 2px;
			}

			&.slick-active {
				button {
					&:before {
						width: 58px;
						background-color: @orange;
						@media @mob-w {
							width: 15px;
						}
						@media @desk-w {
							width: 58px;
						}
					}
				}
			}
		}
		button {
			width: auto;
			height: auto;
			padding: 0;
			&:before {
				content: '';
				display: block;
				font-family: none;
				opacity: 1;
				transition: width .3s, background-color .3s ease;

				@media @mob-w {
					width: 15px;
					height: 15px;
					border-radius: 50%;
					background-color: #474747;
				}

				@media @desk-w {
					width: 20px;
					height: 2px;
					border-radius: none;
					background-color: #000000;
				}

			}
		}
	}
	.slick-prev:before,
	.slick-next:before {
		content: '';
		font-family: none;
		font-size: 0;
	}
	.slick-prev,
	.slick-next {
		width: auto;
		height: auto;
		font-size: 20px;
		z-index: 931;
		bottom: 23px;
		i {
			&:before {
				color: #474747;
				font-size: 14px;
				transition: color .15s linear;
			}
			&:hover {
				&:before {
					color: @orange;
				}
			}
		}
	}

	.slick-prev {
		top: auto;
		left: auto;
		right: 12%;
	}

	.slick-next {
		top: auto;
		right: 3.5%;
	}
}

.preload {
	position: relative;
	overflow: hidden;
	&:after {
		content: '';
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		background: #ffffff url('../img/ajax-loader.gif') center no-repeat;
	}
	* {
		opacity: 0;
	}
}


/* DETAIL SLIDER */

.detail-slider-wrapper {
	padding: 45px 5%;
	background-color: #f6f6f6;
	.clearfix();
}

.detail-product-slider {
	margin-right: 3%;
	width: 72%;
	max-height: 639px;
	float: right;
	.slide {
		position: relative;
	}
	.status {
		position: absolute;
		top: 0;
		left: 0;
		font-size: 14px;
		z-index: 50;
		&>div {
			padding: 2px 5px;
			color: #ffffff;
			text-transform: uppercase;
			letter-spacing: .8px;
			background-color: @orange;
		}
	}
}

.detail-product-preview-slider {
	width: 15%;
	height: 639px;
	min-width: 120px;
	.slide {
		margin-bottom: 10px;
		height: 93px;
		border: 10px solid transparent;
		outline: none;
		transition: border-color .3s linear;
		text-align: center;
		cursor: pointer;
		img {
			max-height: 100%;
			display: inline;
		}
		&.slick-current {
			border-color: #ffffff;
			outline: none;
		}
	}
	.slick-prev,
	.slick-next {
		width: auto;
		height: auto;
		i {
			font-size: 14px;
			color: #474747;
			transition: color .3s linear;
		}
		&:hover {
			i {
				color: @orange;
			}
		}
	}
	.slick-prev:before,
	.slick-next:before {
		content: '';
		font-family: @mainFont;
		font-size: 0;
	}
	.slick-prev {
		top: -25px;
		left: 50%;
		transform: translateX(-50%);
	}
	.slick-next {
		top: auto;
		bottom: 0;
		right: 50%;
		transform: translateX(50%);
	}
}


/* SHOP SLIDER */

.shop-slider-wrapper {
	position: relative;
}

.slider__arrow {
	position: absolute;
	right: 40px;
	bottom: 23px;
	z-index: 950;
	&>div {
		height: 20px;
		float: left;
		cursor: pointer;
		i:before {
			transition: color .3s linear;
		}
		&:hover {
			i:before {
				color: @orange;
			}
		}
	}
	.slide-next {
		margin-left: 30px;
	}
}

.counter {
	position: absolute;
	left: 0;
	bottom: 0;
	width: 38px;
	height: 55px;
	color: #000000;
	opacity: .4;
	font-size: 16px;
	letter-spacing: .11px;
	&__current-slide {
		position: absolute;
		top: 0;
		left: 0;
	}
	&__all-slides {
		position: absolute;
		bottom: 0;
		right: 0;
	}
	&:after {
		content: '';
		position: absolute;
		top: 0;
		left: 50%;
		width: 1px;
		height: 100%;
		background-color: #000000;
		opacity: .4;
		transform: rotate(45deg);
		transform-origin: 100%;
	}
}

.shop-slider {
	.slide {
		height: 423px;
		background-repeat: no-repeat;
		background-position: center;
		background-size: cover;
		a {
			display: block;
			width: 100%;
			height: 100%;
		}
	}
	&.preload {
		height: 423px;
	}
}
