/* PAGE FOOTER */

.footer {
	padding-top: 30px;
	&__title {
		margin-bottom: 45px;
		padding-bottom: 30px;
		font-size: 18px;
		font-weight: 500;
		letter-spacing: .13px;
		.bottom-line();
	}
	&__list {
		margin: 0;
		padding: 0;
		list-style: none;
	}
	&__list-item {
		margin-bottom: 20px;
		a {
			color: #474747;
			letter-spacing: .11px;
			&:hover {
				color: @orange;
			}
		}
	}
	.link-tel,
	.link-contacts {
		margin-bottom: 20px;
		display: block;
	}
}

.soc-list {
	margin-top: 52px;
	&__link {
		display: inline-block;
		vertical-align: middle;
		color: #474747;
		&:before {
			transition: color .15s linear;
		}
		&:hover {
			&:before {
				color: @orange;
			}
		}
	}
	a.icon-vk {
		margin-right: 30px;
		font-size: 12px;
	}
	a.icon-youtube {
		font-size: 30px;
	}
}


.dev {
	position: relative;
	margin-top: 90px;
	padding-bottom: 50px;
	display: block;
	color: #474747;
	font-family: @mainFont !important;
	line-height: 22px;
	letter-spacing: .11px;
	&:before {
		position: absolute;
		left: 0;
		bottom: 0;
		font-size: 20px;
		color: @orange;
		font-family: 'icomoon' !important;
	}
}
