/* ELEMENTS STYLE */

h1,h2,h3,h4,h5 {
	margin-bottom: 30px;
	color: #000000;
	font-family: @mainFont;
	font-weight: 500;
}

h1, .title-h1 {
	margin-bottom: 40px;
	font-size: 40px;
	line-height: 50px;
}

h2, .title-h2 {
	margin-bottom: 30px;
	font-size: 30px;
	line-height: 36px;
}

h3, .title-h3 {
	margin-bottom: 30px;
	font-size: 26px;
	line-height: 32px;
}

h4, .title-h4 {
	margin-bottom: 30px;
	font-size: 22px;
	line-height: 28px;
}

h5, .title-h5 {
	margin-bottom: 30px;
	font-size: 16px;
	line-height: 22px;
}

p {
	color: #474747;
	font-size: 18px;
	line-height: 24px;
	font-weight: 400;
	letter-spacing: .13px;
}

a.btn,
button.btn {
	display: inline-block;
	vertical-align: top;
	min-width: 200px;
	height: 54px;
	line-height: 51px;
	color: #ffffff;
	font-size: 15px;
	font-family: @mainFont;
	font-weight: 400;
	text-align: center;
	text-transform: uppercase;
	letter-spacing: 1px;
	border: 2px solid transparent;
	background: @orange;
	outline: none;
	cursor: pointer;
	transition: border-color .15s, background-color .15s linear;
	&:hover {
		text-decoration: none;
		border-color: @orange;
		background-color: transparent;
	}
}


.uk-pagination>li>a, .uk-pagination>li>span {
	padding: 0;
	width: 61px;
	height: 61px;
	color: #474747;
	font-size: 21px;
	line-height: 61px;
	letter-spacing: .15px;
	background-color: transparent;
}

.uk-pagination>.uk-active>span {
	background-color: #f6f6f6;
	color: #474747;
	opacity: .5;
}

.uk-pagination>li:nth-child(n+2) {
	margin-left: 10px;
}

.breadcrumbs-wrapper {
	margin-bottom: 50px;
	background-color: #f6f6f6;
}

.breadcrumbs {
	margin: 0;
	padding: 0;
	list-style: none;
	font-size: 0;
	li {
		margin-right: 10px;
		height: 60px;
		line-height: 60px;
		display: inline-block;
		font-size: 16px;
		color: #848484;
	}
	a {
		position: relative;
		padding-right: 15px;
		color: #848484;
		letter-spacing: .1px;
		&:after {
			content: '/';
			position: absolute;
			right: 0;
		}
		&:hover {
			color: @orange;
			text-decoration: none;
			&:after {
				color: #848484;
			}
		}
	}
}

.select2-container {
	background-color: #f6f6f6;
	color: #474747;
	font-size: 16px;
	font-weight: 400;
	letter-spacing: .11px;
	outline: none;
	border: none;
	.select2-selection {
		height: 54px;
		line-height: 54px;
		outline: none;
		&__arrow {
			b {
				border-color: #474747 transparent transparent transparent;
				border-style: solid;
				border-width: 5px 4px 0 4px;
				height: 0;
				left: auto;
				right: 20px;
				margin-left: -4px;
				margin-top: -2px;
				position: absolute;
				top: 50%;
				width: 0;
			}
		}
	}
	&--open {
		.select2-selection__arrow {
			b {
				border-color: transparent transparent #474747 transparent;
				border-width: 0 4px 5px 4px;
			}
		}
	}
	.select2-selection__rendered {
		padding: 0 20px !important;
	}
	&--default {
		.select2-selection--single {
			border: none;
		}
		.select2-selection__rendered{
			background-color: #f6f6f6;
			height: 54px;
			line-height: 54px !important;
		}
		.select2-selection__arrow {
			height: 52px !important;
			line-height: 52px !important;
		}
		.select2-results__option--highlighted[aria-selected],
		.select2-results__option[aria-selected=true] {
			background-color: #ffffff;
			color: #000000;
		}
	}
	&--sort__status {
		width: 390px !important;
	}
	&--sort__count {
		width: 115px !important;
	}
	&--detail-select {
		width: 100% !important;
	}
	.select2-results__option {
		transition: background-color .3s linear;
		&:hover {
			background-color: #f6f6f6;
		}
	}
}

.select2-dropdown {
	border-color: #ffffff;
}

/* ELEMENTS STYLE END */


/* TABS */

ul.uk-switcher {
	padding: 50px 0;
	.tab-text {
		margin-bottom: 30px;
		color: #474747;
		font-size: 21px;
		line-height: 26px;
		letter-spacing: .15px;
	}
}
.uk-tab {
	border-bottom: 1px solid #e8e8e8;
}

.uk-tab>li {
	margin-right: 25px;
}

.uk-tab>li>a {
	padding-left: 0;
	padding-right: 0;
	padding: 0 0 25px 0;
	color: #000000;
	font-size: 24px;
	font-weight: 500;
	border: none;
	border-bottom: 3px solid transparent;
	&:hover {
		margin-bottom: 0 !important;
		padding-bottom: 25px !important;
		color: @orange;
		background-color: transparent;
	}
}

.uk-tab>li.uk-active>a {
	border-bottom: 3px solid @orange;
}

.tab-table-wrapper {
	margin-bottom: 40px;
	height: 260px;
	overflow: hidden;
	transition: height .3s ease;
	&.open {
		height: 100%;
	}
}

.tab-table__links {
	position: relative;
	padding-right: 35px;
	display: inline-block;
	font-size: 21px;
	letter-spacing: .15px;
	&:after {
		content: '';
		border-color: #474747 transparent transparent transparent;
		border-style: solid;
		border-width: 5px 4px 0 4px;
		height: 0;
		left: auto;
		right: 0;
		margin-left: -4px;
		margin-top: -2px;
		position: absolute;
		top: 50%;
		width: 0;
		transition: border-color .3s linear;
	}
	&.open {
		&:after {
			border-color: transparent transparent #474747 transparent;
			border-width: 0 4px 5px 4px;
		}
	}
}

table.product-options {
	width: 100%;
	max-width: 775px;
	border-collapse: collapse;
	tr:nth-child(odd) {
		background-color: #f6f6f6;
	}
	td {
		padding-left: 35px;
		font-size: 21px;
		height: 64px;
		letter-spacing: .15px;
	}
}

/* END TABS */
