{% extends "layouts/default.html" %}
{% set title="Каталог" %}
{% set bread = ["Главная", "Ковры", "Классический дизайн"] %}
{% set main = false %}
{% block content %}
<div class="content">
	<div class="uk-container">
		<h1 class="title-h1">Классический дизайн</h1>
		<div class="catalog">
			<div class="uk-grid">
				<div class="uk-width-medium-1-4">
					<div class="catalog-filter">
						<img src="img/filter.png" alt="">
					</div>
				</div>
				<div class="uk-width-medium-3-4">
					<div class="catalog-content">
						<div class="catalog__sort">
							<div class="sort__status">
								<select class="select2" data-theme="sort__status">
									<option value="">По пулярности, возрастание</option>
									<option value="">По цене, убывание</option>
									<option value="">По цене, возрастание</option>
								</select>
							</div>
							<div class="sort__count">
								<div class="sort__count-text">
									Показывать товаров
								</div>
								<select class="select2" data-theme="sort__count">
									<option value="">12</option>
									<option value="" selected>24</option>
									<option value="">36</option>
								</select>
							</div>
						</div>
						<div class="catalog__list-wrapper">
							<div class="catalog__list">
								{% for i in 0..2 %}

								<div class="card">
									<a href="">
										<div class="card__img preload">
											<img src="img/slides-images/card-img-1-205x309.png" alt="">
										</div>
										<div class="card__name">Вернисаж</div>
										<div class="card__price">от 3290 руб.</div>
									</a>
									<div class="card__status"><div>Хит</div></div>
								</div>
{% endfor %}
							</div>
							
							<div class="aside-block aside-block--promo-text">
								<div class="uk-container">
									<div class="aside-block__inner" style="background-image: url('img/promo-banner.png')">
										<div class="aside-block__title">Дарим скидки 20%</div>
										<div class="aside-block__text">
											В сети ковровых магазинов Карпет Трейд действуют скидки до 20% на отдельные коллекции ковров.
										</div>
									</div>
								</div>
							</div>
							
							<div class="catalog__list">
								{% for i in 0..14 %}

								<div class="card">
									<a href="">
										<div class="card__img preload">
											<img src="img/slides-images/card-img-1-205x309.png" alt="">
										</div>
										<div class="card__name">Вернисаж</div>
										<div class="card__price">от 3290 руб.</div>
									</a>
									<div class="card__status"><div>Новинка</div></div>
								</div>
{% endfor %}
							</div>
						</div>

						<ul class="uk-pagination">
							<li class="uk-active"><span>1</span></li>
							<li><a href="">2</a></li>
							<li><a href="">3</a></li>
							<li><span>...</span></li>
							<li><a href="">12</a></li>
						</ul>
						<div class="seo-block">
							<h2>Заголовок  для SEO</h2>
							<p>
								Главное достоинство дамасского орнамента - это его текстура. Только жители Дамаска обладали секретом производства ткани «дамаст», украшенной рельефным рисунком из сверкающего переплетения шелковых нитей на матовом фоне. Сегодня технологии изготовления уже другие, однако характерная рельефность и сочетание двух фактур остаются неизменными чертами дамасских узоров. Очертания орнамента также остались прежними: это стилизованный растительный узор из повторяющихся декоративных элементов. Наиболее часто встречается узор из вазонов с букетами цветов в изысканном обрамлении из листьев. 
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}
