{% extends "layouts/default.html" %}
{% set title="Главная" %}
{% block content %}
	<div class="main-slider preload">
		<div class="slide">
			<div class="slide__inner" style="background-image: url('/img/main-slider-1235x636.png')">
				<div class="slide__desc">
					<div class="slide__title">Ковры в гостиную со скидкой 20% 1</div>
					<div class="slide__text">
						В сети ковровых магазинов Карпет Трейд действуют скидки до 20% на отдельные коллекции ковров.
					</div>
					<a href="" class="slide__link">Подробнее</a>
				</div>
			</div>
		</div>
		<div class="slide">
			<div class="slide__inner" style="background-image: url('/img/main-slider-1235x636.png')">
				<div class="slide__desc">
					<div class="slide__title">Ковры в гостиную со скидкой 20% 2</div>
					<div class="slide__text">
						В сети ковровых магазинов Карпет Трейд действуют скидки до 20% на отдельные коллекции ковров.
					</div>
					<a href="" class="slide__link">Подробнее</a>
				</div>
			</div>
		</div>
		<div class="slide">
			<div class="slide__inner" style="background-image: url('/img/main-slider-1235x636.png')">
				<div class="slide__desc">
					<div class="slide__title">Ковры в гостиную со скидкой 20% 3</div>
					<div class="slide__text">
						В сети ковровых магазинов Карпет Трейд действуют скидки до 20% на отдельные коллекции ковров.
					</div>
					<a href="" class="slide__link">Подробнее</a>
				</div>
			</div>
		</div>
	</div>
	<section>
		<div class="uk-container">
			КОНТЕНТ
		</div>
	</section>
{% endblock %}
