{% extends "layouts/default.html" %}
{% set title="Главная" %}
{% block content %}
	<div class="main-slider preload">
		<div class="slide">
			<div class="slide__inner" style="background-image: url('/img/main-slider-1235x636.png')">
				<div class="slide__desc">
					<div class="slide__title">Ковры в гостиную со скидкой 20% 1</div>
					<div class="slide__text">
						В сети ковровых магазинов Карпет Трейд действуют скидки до 20% на отдельные коллекции ковров.
					</div>
					<a href="" class="slide__link">Подробнее</a>
				</div>
			</div>
		</div>
		<div class="slide">
			<div class="slide__inner" style="background-image: url('/img/main-slider-1235x636.png')">
				<div class="slide__desc">
					<div class="slide__title">Ковры в гостиную со скидкой 20% 2</div>
					<div class="slide__text">
						В сети ковровых магазинов Карпет Трейд действуют скидки до 20% на отдельные коллекции ковров.
					</div>
					<a href="" class="slide__link">Подробнее</a>
				</div>
			</div>
		</div>
		<div class="slide">
			<div class="slide__inner" style="background-image: url('/img/main-slider-1235x636.png')">
				<div class="slide__desc">
					<div class="slide__title">Ковры в гостиную со скидкой 20% 3</div>
					<div class="slide__text">
						В сети ковровых магазинов Карпет Трейд действуют скидки до 20% на отдельные коллекции ковров.
					</div>
					<a href="" class="slide__link">Подробнее</a>
				</div>
			</div>
		</div>
	</div>

	<div class="main-list-products">
		<div class="uk-container">
			<div class="uk-grid">
				<div class="uk-width-medium-6-10">
					<div class="products__item big" style="background-image: url('/img/main-list-products-1.png')">
						<a href="">
							<div class="products__title">Классические ковры</div>
						</a>
					</div>
				</div>
				<div class="uk-width-medium-4-10">
					<div class="products__item big" style="background-image: url('/img/main-list-products-2.png')">
						<a href="">
							<div class="products__title">Современные ковры</div>
						</a>
					</div>
				</div>
				<div class="uk-width-medium-1-3">
					<div class="products__item" style="background-image: url('/img/main-list-products-3.png')">
						<a href="">
							<div class="products__title">Шерстяные ковры</div>
						</a>
					</div>
				</div>
				<div class="uk-width-medium-1-3">
					<div class="products__item" style="background-image: url('/img/main-list-products-4.png')">
						<a href="">
							<div class="products__title">Ковры из вискозы</div>
						</a>
					</div>
				</div>
				<div class="uk-width-medium-1-3">
					<div class="products__item" style="background-image: url('/img/main-list-products-5.png')">
						<a href="">
							<div class="products__title">Ковры из бамбука</div>
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>		

	<div class="additional-services">
		<div class="uk-container">
			<div class="uk-grid">
				<div class="uk-width-medium-1-3">
					<div class="additional-services__item">
						<div class="additional-services__icon">
							<i class="icon-romb"></i>
						</div>
						<div class="additional-services__text">
							Подбор оптимального дизайна ковра по фото интерьера
						</div>
					</div>
				</div>

				<div class="uk-width-medium-1-3">
					<div class="additional-services__item">
						<div class="additional-services__icon">
							<i class="icon-recomend"></i>
						</div>
						<div class="additional-services__text">
							Квалифицированная помощь в выборе онлайн, по телефону, или в наших розничных магазинах
						</div>
					</div>
				</div>

				<div class="uk-width-medium-1-3">
					<div class="additional-services__item">
						<div class="additional-services__icon">
							<i class="icon-truck"></i>
						</div>
						<div class="additional-services__text">
							Услуги примерки, доставки, выезда специалиста
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	
	<div class="products-slider">
		<div class="uk-container">
			<div class="products-slider__title">Новинки</div>
			<div class="sliders-list">
				<div class="slide">
					<div class="card">
						<a href="">
							<div class="card__img">
								<img src="/img/slides-images/card-img-1-205x309.png" alt="">
							</div>
							<div class="card__name">Кидс</div>
							<div class="card__price">от 3600 руб.</div>
						</a>
					</div>
				</div>
				<div class="slide">
					<div class="card">
						<a href="">
							<div class="card__img">
								<img src="/img/slides-images/card-img-1-205x309.png" alt="">
							</div>
							<div class="card__name">Болара</div>
							<div class="card__price">от 3 375 руб.</div>
						</a>
					</div>
				</div>
				<div class="slide">
					<div class="card">
						<a href="">
							<div class="card__img">
								<img src="/img/slides-images/card-img-1-205x309.png" alt="">
							</div>
							<div class="card__name">Браво Акрил</div>
							<div class="card__price">от 1 450 руб.</div>
						</a>
					</div>
				</div>
				<div class="slide">
					<div class="card">
						<a href="">
							<div class="card__img">
								<img src="/img/slides-images/card-img-1-205x309.png" alt="">
							</div>
							<div class="card__name">Вернисаж</div>
							<div class="card__price">от 3290 руб.</div>
						</a>
					</div>
				</div>
				<div class="slide">
					<div class="card">
						<a href="">
							<div class="card__img">
								<img src="/img/slides-images/card-img-1-205x309.png" alt="">
							</div>
							<div class="card__name">Кидс</div>
							<div class="card__price">от 3600 руб.</div>
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="options-block">
		<div class="uk-container">
			<div class="uk-grid">
				<div class="uk-width-medium-1-2">
					<div class="options-item">
						<div class="options-item__inner">
							<div class="options-item__title">Выберите свой стиль</div>
							<ul class="options-item__list">
								<li><a href="#">Восточная классика</a></li>
								<li><a href="#">Европейская классика</a></li>
								<li><a href="#">Современная классика</a></li>
								<li><a href="#">Этника</a></li>
								<li><a href="#">Абстракции</a></li>
								<li><a href="#">Длинноворсовые</a></li>
								<li><a href="#">Детские</a></li>
								<li><a href="#">Безворсовые</a></li>
							</ul>
						</div>
					</div>
				</div>
				<div class="uk-width-medium-1-2">
					<div class="options-item">
						<div class="options-item__inner">
							<div class="options-item__title">Выберите свой размер и форму</div>
							<ul class="options-item__list">
								<li><a href="#">Прикроватные ковры</a></li>
								<li><a href="#">Небольшие размеры</a></li>
								<li><a href="#">Средние размеры</a></li>
								<li><a href="#">Большие размеры</a></li>
								<li><a href="#">Прямоугольник</a></li>
								<li><a href="#">Овал</a></li>
								<li><a href="#">Круг</a></li>
								<li><a href="#">Квадрат</a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

{% endblock %}
