{% extends "layouts/default.html" %}
{% set title="Новости" %}
{% set bread = ["Главная", "Отзывы"] %}
{% set main = false %}
{% block content %}
<div class="content">
	<div class="uk-container uk-container--medium">
		<h1>Отзывы</h1>
		<div class="reviews-list">
				<div class="review">
					<div class="review__text">
						Компания «Карпет-Трейд» уже более 8-ти лет успешно занимается продажами ковров и ковровых изделий как оптом, так и в розницу.
					</div>
					<div class="review__author">Михаил, Иваново</div>
					<div class="review__product">
						Отзыв о товаре: <a href="">Шахриар</a>
					</div>
				</div>

				<div class="review">
					<div class="review__text">
						Сетевые магазины ковров «Карпет-Трейд» расположены в городах: Москва, Липецк, Иваново, Белгород, Курск, Орёл, Тамбов и Нижний Новгород.
					</div>
					<div class="review__author">Алексей, Иваново</div>
					<div class="review__product">
						Отзыв о товаре: <a href="">Айс</a>
					</div>
				</div>

				<div class="review">
					<div class="review__text">
						Магазины занимают большие площади в крупных торговых центрах, что позволяет разместить весь ассортимент продукции, который представлен на сайте и даже больше.
					</div>
					<div class="review__author">Иван, Мурманк</div>
					<div class="review__product">
						Отзыв о товаре: <a href="">Ашан</a>
					</div>
				</div>

				<div class="review">
					<div class="review__text">
						Адреса и телефоны магазинов вы можете найти в разделе «Магазины».
					</div>
					<div class="review__author">Дмитрий, Орёл</div>
					<div class="review__product">
						Отзыв о товаре: <a href="">Бакала</a>
					</div>
				</div>
		</div>
		<ul class="uk-pagination">
			<li class="uk-active"><span>1</span></li>
			<li><a href="">2</a></li>
			<li><a href="">3</a></li>
			<li><span>...</span></li>
			<li><a href="">12</a></li>
		</ul>
		<div class="title-h1">Оставить отзыв</div>
		<div class="form-wrapper">
			<form action="" class="default-form">
				<fieldset>
					<input type="text" id="review-name" placeholder="Ваше имя">
				</fieldset>
				<fieldset>
					<input type="email" id="review-email" name="email" placeholder="Электронная почта *" required>
				</fieldset>
				<fieldset>
					<input type="text" id="review-email" name="city" placeholder="Ваш город">
				</fieldset>
				<fieldset>
					<textarea name="message" id="review-message" placeholder="Комментарий"></textarea>
					<div class="required-fileds">
						<sup>*</sup> — поля обязательные для заполнения
					</div>
				</fieldset>

				<button type="submit" class="btn modal-btn">Отправить</button>
				<div class="form-politics">
					Нажимая на кнопку отправить, я даю согласие на обработку <a href="">Персональных данных</a>
				</div>
			</form>

		</div>
	</div>
</div>
{% endblock %}
