{% extends "layouts/default.html" %}
{% set title="Иваново на Текстильщиках" %}
{% set bread = ["Главная", "Магазины", "Иваново на Текстильщиках"] %}
{% set main = false %}
{% block content %}
<div class="content">
	<div class="uk-container uk-container--medium">
		<h1>Иваново на Текстильщиках</h1>
		<div class="shop-contacts">
			<div class="shop-contacts__address">
				Иваново, магазин «Карпет Трейд», ТЦ «Аксон», пр-т Текстильщиков, 80, 2-й этаж
			</div>
			<div class="shop-contacts__tel">
				<a href="tel:+79303303512">+7 (930) 330 35 12</a>
				<a href="mailto:ivanovo.kover2017@yandex.ru" class="shop-contacts__email">ivanovo.kover2017@yandex.ru</a>
			</div>
			<div class="shop-contacts__soc">
				<a href="http://vk.com/carpettrade">vk.com/carpettrade</a>
			</div>
		</div>
		<div class="aside-block aside-block--promo-text aside-block--no-bg">
			<div class="uk-container">
				<div class="aside-block__inner" style="background-image: none; background-color: #f6f6f6;">
					<div class="aside-block__title">Торговая сеть «Карпет Трейд» объявляет акцию в Белгороде</div>
					<div class="aside-block__text">
						Дарим скидки 30% на 30 ковровых коллекций! Акция действует с 01.10.2017 г. по 30.11.2017 г.  
					</div>
				</div>
			</div>
		</div>

		<div class="shop-contacts__view">
			<div class="uk-grid">
				<div class="uk-width-1-1 uk-width-medium-1-2">
					<div class="shop-slider-wrapper">
						<div class="shop-slider preload">
							<div class="slide" style="background-image:url('img/slides-images/shop-slider-545x423.jpg')">
								<a href="img/slides-images/shop-slider-545x423.jpg" data-uk-lightbox="{group:1}"></a>
							</div>
							<div class="slide" style="background-image:url('img/slides-images/shop-slider-545x423.jpg')">
								<a href="img/slides-images/shop-slider-545x423.jpg" data-uk-lightbox="{group:1}"></a>
							</div>
						</div>
						<div class="slider__arrow">
							<div class="slide-prev"><i class="icon-arrow-left"></i></div>
							<div class="slide-next"><i class="icon-arrow-right"></i></div>
						</div>
					</div>
				</div>
				<div class="uk-width-1-1 uk-width-medium-1-2">
					<div class="shop-map" data-coords='{"lat": 56.9596095, "lng": 40.9810092}'></div>
				</div>
			</div>
		</div>

		<div class="seo-block">
			<h2>Заголовок  для SEO</h2>
			<p>
				Главное достоинство дамасского орнамента - это его текстура. Только жители Дамаска обладали секретом производства ткани «дамаст», украшенной рельефным рисунком из сверкающего переплетения шелковых нитей на матовом фоне. Сегодня технологии изготовления уже другие, однако характерная рельефность и сочетание двух фактур остаются неизменными чертами дамасских узоров. Очертания орнамента также остались прежними: это стилизованный растительный узор из повторяющихся декоративных элементов. Наиболее часто встречается узор из вазонов с букетами цветов в изысканном обрамлении из листьев. 
			</p>
		</div>		
	</div>
</div>
{% endblock %}
