{% extends "layouts/default.html" %}
{% set title="Магазины" %}
{% set bread = ["Главная", "Магазины"] %}
{% set main = false %}
{% block content %}
<div class="content">
	<div class="uk-container uk-container--medium">
		<h1>Магазины</h1>
		<div class="shops-list">
			<div class="shops__item" style="background-image: url('img/slides-images/shop-slider-545x423.jpg')">
				<a href="">
					<div class="shops__item-title">Иваново на Текстильщиках</div>
					<div class="shops__item-address">
						Магазин "Карпет Трейд" в г.Иваново, ТЦ "Аксон", пр-т Текстильщиков, 80 , 2-ый эт
					</div>
				</a>
			</div>
			<div class="shops__item" style="background-image: url('img/slides-images/shop-slider-545x423.jpg')">
				<a href="">
					<div class="shops__item-title">Иваново на Текстильщиках</div>
					<div class="shops__item-address">
						Магазин "Карпет Трейд" в г.Иваново, ТЦ "Аксон", пр-т Текстильщиков, 80 , 2-ый эт
					</div>
				</a>
			</div>
			<div class="shops__item" style="background-image: url('img/slides-images/shop-slider-545x423.jpg')">
				<a href="">
					<div class="shops__item-title">Иваново на Текстильщиках</div>
					<div class="shops__item-address">
						Магазин "Карпет Трейд" в г.Иваново, ТЦ "Аксон", пр-т Текстильщиков, 80 , 2-ый эт
					</div>
				</a>
			</div>
			<div class="shops__item" style="background-image: url('img/slides-images/shop-slider-545x423.jpg')">
				<a href="">
					<div class="shops__item-title">Иваново на Текстильщиках</div>
					<div class="shops__item-address">
						Магазин "Карпет Трейд" в г.Иваново, ТЦ "Аксон", пр-т Текстильщиков, 80 , 2-ый эт
					</div>
				</a>
			</div>
		</div>
	</div>
</div>
{% endblock %}
